/* change img size  */
img{
    width: 500px;
    height: 500px;
}

hr{
    padding: 2px;
    
}
/* style apply button  */
#applyBtn{
    background: rgb(238, 59, 95);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    
}